/node_modules
_node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
_vendor
/.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/public/js/*.js
/public/js/app.js.map
/public/*.js
/public/*.js.map
/public/*.js.LICENSE
/public/*.js.LICENSE.txt


.idea/*
